* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #0061FF;
}

li {
 list-style: none;
}

a {
  text-decoration: none;
}

/* palette colori landing page  */

:root {
  --light-blue: #B4D0E7;
  --white: #FFFFFF;
  --blue: #0061FF;
  --black: #000000;
}

/* utility class  */

.d-flex {
  display: flex;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



/* header section  */

header .topbar {
  background-color: var(--white);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

header .topbar {
  justify-content: space-between;
  align-items: center;
}

header .topbar .left-elements,
header .topbar .right-elements {
  width: 50%;
  cursor: pointer;
  font-size: .8rem;
  font-weight: 500;
}

#logo, 
header .topbar .left-elements a,
header .topbar .right-elements a {
  padding: 20px 8px;
  color: var(--black);
  height: 100%;
}

#logo, 
header .topbar .left-elements a {
 float: left;
}

header .topbar .right-elements a {
  float: right;
}

#logo img {
  width: 100px;
  vertical-align: middle;
}

header li:hover a {
  border-bottom: 2px solid black;
}

    /* header btn  */

.right-elements .btn:first-child {
 background-color: var(--blue);
 color: var(--white);
 padding: 6px 10px;
 margin: 16px 10px;
}

.right-elements:hover .btn:first-child {
  border-style: none;
}

/* //header section  */

/* main section  */

  /* jumbotron section */

/* altezze da togliere */



main .jumbotron .container {
  margin: 70px auto;
  width: 70%;
  max-width: 1200px;
  /* altezza da togliere  */
  background-color: red;
  flex-wrap: wrap;
}


 section.jumbotron h1 {
  font-size: 3.3rem;
  font-weight: 800;
  background-color: yellow;
  order: 0;
}

section.jumbotron .text-section {
  width: 30%;
  background-color: aqua;
}

section.jumbotron .jumbo-img {
  background-color: orange;
  width: 70%;
}

