* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* palette colori landing page  */

:root {
  --light-blue: #B4D0E7;
  --white: #FFFFFF;
  --blue: #0061FF;
  --black: #000000;
}